/* body {
  color: #c8c8c8;
  background-color: #272b30;
} */

.layout {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    /* color: #c8c8c8;
    background-color: #272b30; */
    text-align: center;
}

.stock-up {
    display: inline-block;
    border-bottom: 6px solid #070;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.stock-down {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #c00;
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 4px;
}

table th {
  text-align: center;
}
